%h1 Listing Minutes
.field.input-group
  %input.form-control#tag-name{autocomplete: "off", type: "text", placeholder: "Search by Tags"}
  %span.input-group-addon.btn.btn-primary#search-minutes-by-tag
    = glyphicon("search")
%table.table
  %thead
    %tr
      %th Title
      %th Date
      %th Location
      %th Author
      %th{ colspan: '4' }
  %tbody
    - @minutes.each do |minute|
      %tr
        %td= minute.title
        %td= minute.dtstart.strftime("%Y-%m-%d") rescue nil
        %td= minute.location
        %td= minute.author && minute.author.name
        %td= link_to 'Show', minute
        %td= link_to 'Edit', edit_minute_path(minute)
        %td= link_to 'Destroy', minute, method: :delete, data: { confirm: 'Are you sure?' }
        %td= link_to icon('repeat'), reuse_minute_path(minute)
%br/
= new_content :minute
