.row
  .col-md-12.col-sm-12.text-center.hidden-xs
    != paginate @minutes
  .col-xs-12.text-center.visible-xs
    != paginate @minutes

= form_tag minutes_path, :method => 'get', :name => :search_form do
  .field.input-group
    = text_field_tag :search, params[:search], class: "form-control", placeholder: "tag:record author:jay-doe", autocomplete: "off", id: "search-form"
    %span.input-group-addon.btn.btn-primary{:onclick => "document.search_form.submit();"}
      = glyphicon("search")

%table.table
  %thead
    %tr
      %th Title
      %th Date
      %th Location
      %th Author
      %th{ colspan: '3' }
  %tbody
    - @minutes.each do |minute|
      %tr
        %td= link_to minute.title, minute
        %td= minute.dtstart.strftime("%Y-%m-%d") rescue nil
        %td= minute.location
        %td= minute.author && minute.author.name
        %td= link_to icon('fas', 'pencil-alt'), edit_minute_path(minute)
        %td= link_to icon('fas', 'redo-alt'), reuse_minute_path(minute)
        %td= link_to icon('fas', 'trash-alt'), minute, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= new_content :minute

.row
  .col-md-12.col-sm-12.text-center.hidden-xs
    != paginate @minutes
  .col-xs-12.text-center.visible-xs
    != paginate @minutes
