<h1>Listing Minutes</h1>

<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Date</th>
      <th>Location</th>
      <th>Author</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @minutes.each do |minute| %>
      <tr>
        <td><%= minute.title %></td>
        <td><%= minute.dtstart.strftime("%Y-%m-%d") %></td>
        <td><%= minute.location %></td>
        <td><%= minute.author && minute.author.name %></td>
        <td><%= link_to 'Show', minute %></td>
        <td><%= link_to 'Edit', edit_minute_path(minute) %></td>
        <td><%= link_to 'Destroy', minute, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Minute', new_minute_path %>
